<div class="col-sm-12 order-2 order-sm-2 align-self-center p-static search-estate">
    <div class="overflow-hidden">
        <ul class="custom-fullwidth-dropdown-menu ml-0" {% if app.request.locale != 'ar' %} style="left: -10%; position: relative;" {% else %} style="right: -8%; position: relative;" {% endif %}>
            <li style="list-style-type: none;">
                <div class="dropdown-mega-content mt-3 search-home-shops">
                    <form id="propertiesFormHeader" action=""
                          method="GET">
                        <div class="container p-0">
                            <div class="form-row">
                                <div class="col-sm-12 col-md-12 col-lg-12 item-form">
                                    <span>{{ 'front.search.shop'|trans }}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate get-sorted"
                                            name="category"
                                            data-msg-required="This field is required."
                                            id="category">
                                            <option value="">{{ 'admin.choose.options'|trans }}</option>
                                        {% for category in categories %}
                                            {% if category.subCategories|length > 0 %}
                                                <optgroup label="{{ category.code|lower|trans }}">
                                                    {% for subCategory in category.subCategories %}
                                                        {% if subCategory.enabled %}
                                                            <option value="{{ subCategory.code }}" data-code="{{ subCategory.code|lower }}" data-category="{{ category.code|lower }}" {% if categorySelected and categorySelected.code == subCategory.code %} selected {% endif %}>{{ subCategory.code|lower|trans }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </optgroup>
                                            {% else %}
                                                <optgroup label="{{ category.code|lower|trans }}">
                                                    <option value="{{ category.code }}" data-code="{{ category.code|lower }}" {% if categorySelected and categorySelected.code == category.code %} selected {% endif %}>{{ category.code|lower|trans }}</option>
                                                </optgroup>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 mb-3 item-form">

                                    <span>{{ 'front.publication.date'|trans }}</span>
                                    <ul class="{% if app.request.locale == 'ar' %} arabe {% endif %}">
                                        <li>
                                            <label class="input-radio">
                                                <input type="radio" name="publication" id="publication_0" value="0" class="get-sorted" {% if 0 in app.request.get('publication') or app.request.get('publication') is empty %} checked {% endif %}>
                                                <span><span>{{ 'front.publication.none'|trans }}</span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="input-radio">
                                                <input type="radio" name="publication" id="publication_1" value="1" class="get-sorted" {% if 1 in app.request.get('publication') %} checked {% endif %}>
                                                <span><span>{{ 'front.publication.day'|trans }}</span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="input-radio">
                                                <input type="radio" name="publication" id="publication_2" value="7" class="get-sorted" {% if 7 in app.request.get('publication') %} checked {% endif %}>
                                                <span><span>{{ 'front.publication.week'|trans }}</span></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="input-radio">
                                                <input type="radio" name="publication" id="publication_2" value="30" class="get-sorted" {% if 30 in app.request.get('publication') %} checked {% endif %}>
                                                <span><span>{{ 'front.publication.month'|trans }}</span></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12  mb-3">
                                    <input type="hidden" name="sorted" id="input-sorted" value="{{ app.request.get('sorted') }}" class="sorted">
                                    <input type="hidden" name="city" id="input-city" value="{{ app.request.get('city') }}" class="city">
                                    <input type="hidden" name="obj" id="input-obj" value="{{ app.request.get('obj') }}">
                                    <input type="hidden" name="page" id="input-paged" value="{{ app.request.get('page') }}" class="page">
                                    {#<input type="submit" value="{{ 'front.search'|trans }}"
                                           class="btn btn-secondary btn-lg text-uppercase text-3"
                                           name="search">#}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
