<div class="col-sm-10 order-2 order-sm-2 align-self-center p-static search-estate">
    <div class="overflow-hidden">
        {#<ul class="custom-fullwidth-dropdown-menu ml-0">

        </ul>#}
        <div class="city-search-dropdown {% if app.request.locale == 'ar' %} arabe {% endif %}">
            <ul class="cit-list">
                <li class="city-item">tiznit</li>
                <li class="city-item">agadir</li>
                <li class="city-item">agadir</li>
                <li class="city-item">agadir</li>
                <li class="city-item">agadir</li>
                <li class="city-item">fas</li>
            </ul>
        </div>
        <li style="list-style-type: none;padding: 0 0 10px 0;">
            <div class="dropdown-mega-content mt-3 ml-3 mr-3 search-home-shops">
                <form id="propertiesFormHeader" action="{{ path('search_shops_sub_category_city') }}"
                      method="GET">
                    <div class="container p-0">
                        <div class="form-row {% if app.request.locale == 'ar' %} arabe-home {% endif %}">
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-1">
                                <select data-plugin-selectTwo class="form-control form-control-lg text-uppercase text-3 populate"
                                        name="category"
                                        id="category" required>
                                    <option value="">{{ "front.city.quartier"|trans }}</option>
                                    {% for category in categories %}
                                        {% if category.subCategories|length > 0 %}
                                            <optgroup label="{{ category.code|lower|trans }}">
                                                {% for subCategory in category.subCategories %}
                                                    {% if subCategory.enabled %}
                                                        <option value="{{ subCategory.code }}" data-code="{{ subCategory.code|lower }}" data-category="{{ category.code|lower }}">{{ subCategory.code|lower|trans }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        {% else %}
                                        <optgroup label="{{ category.code|lower|trans }}">
                                            <option value="{{ category.code }}" data-code="{{ category.code|lower }}">{{ category.code|lower|trans }}</option>
                                        </optgroup>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 mb-1">
                                <input type="text" class="form-control text-uppercase text-3" id="search-city"
                                       placeholder="{{ 'front.search.shop'|trans }}" autocomplete="off" required>
                                <input type="hidden" name="obj" id="input-obj" value="">
                                <input type="hidden" name="city" id="input-city" value="">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 mb-1">
                                <input type="submit" value="{{ 'front.search'|trans }}"
                                       class="btn btn-secondary btn-sm text-uppercase text-3" style="height: 2.8rem !important;width: inherit;">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </li>
    </div>
</div>
