{% extends 'base.html.twig' %}

{% block body %}

    <div role="main" class="main">
        <section
                class="page-header page-header-modern page-header-background page-header-background-md py-0 overlay overlay-color-primary overlay-show overlay-op-8"
                style="background-image: url({{ asset('images/estate-background-2.jpg') }});max-height: 350px;">
            <div class="container">
                <div class="row search-home {% if app.request.locale == 'ar' %} arabe {% endif %}">
                    {{ include('frontend/static/block-search-home.html.twig') }}
                    <div class="order-1 order-sm-1 align-items-end justify-content-end d-flex pt-5">
                        <div style="min-height: 350px;" class="overflow-hidden">

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="row">
                        <div class="col">
                            <h2 class="font-weight-normal mb-2">
                               {{ 'front.listing.shops'|trans }}
                            </h2>
                        </div>
                    </div>
                    <div id="listingLoadMoreWrapper" class="row properties-listing sort-destination p-0"
                         data-total-pages="2">

                        {% for shop in shops %}
                        <div class="col-md-4 col-lg-4 col-sm-12 p-3 isotope-item home" style="padding: 6px !important;">
                            <div class="listing-item">
                                <a href="{{ path('single_shop', {id: shop.id, shop: shop.name }) }}" class="text-decoration-none">
                                    <div class="thumb-info thumb-info-lighten border advert">
                                        <div class="thumb-info-wrapper m-0">

                                            <img src="{{ asset('uploads/' ~ shop.images ~ '/0.png') }}"
                                                 class="img-fluid" alt="{{ shop.name }}" id="advert-img-{{ shop.id }}" style="height: 170px;">
                                            {#
                                            <div class="thumb-info-listing-type bg-color-secondary text-uppercase text-color-light font-weight-semibold p-1 pl-3 pr-3">
                                                {{ shop.name|trans }}
                                            </div>
                                            #}
                                            {% if app.user %}
                                                <div class="thumb-info-listing-type wishlist-icon" data-id="{{ shop.id }}">
                                                    {% if  shop.id in app.user.allWishes %}
                                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                                    {% else %}
                                                        <i class="far fa-heart" aria-hidden="true"></i>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="custom-thumb-info-title b-normal p-4">
                                            <div class="thumb-info-inner text-4 mb-1 title" id="advert-title-{{ shop.id }}">{{ shop.name|striptags }}</div>
                                            <div id="advert-agent-{{ shop.id }}" hidden style="display: none;">{{ shop.member ? shop.member.firstname ~ ' ' ~ shop.member.firstname : ' ' }}</div>
                                            <div id="advert-content-{{ shop.id }}" hidden style="display: none;">{{ 'front.form.contatc.content'|trans({'%reference%': '123222', '%site%': 'estate site'}) }}</div>
                                            <div class="thumb-info-inner text-3 mb-2"><i class="fa fa-map-marker-alt"></i>
                                                {% if shop.quartier %}
                                                    {{ shop.quartier.code|trans }}, {{ shop.quartier.city.code|trans }}
                                                {% elseif shop.city %}
                                                    {{ shop.city.code|trans }}, {{ shop.province.code|trans }}
                                                {% else %}
                                                    {{ shop.province.code|trans }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-12 mb-5">
                    <div class="row pb-2">
                        <div class="col">
                            <h2 class="font-weight-normal mt-1 mb-0">{{ 'front.exclusive.locations'|trans }}</h2>
                        </div>
                    </div>
                    <div class="row pb-4 mb-4">
                        {% for city in cities %}
                            <div class="col-md-4 mt-3">
                                <div class="special-offer-item text-center text-color-light">
                                    <input type="hidden" name="city" value="{{ city.id }}">
                                    <a href="{{ path('search_shops_sub_category_city', {'city': city.code|lower}) }}" class="text-decoration-none">
                                    <span class="special-offer-wrapper">
                                        <img src="{{ asset('images/'~ city.code|lower ~'.jpg') }}"
                                             class="img-fluid exclusive" alt="">
                                        <span class="special-offer-infos text-color-light">
                                            <span class="special-offer-title font-weight-normal text-5 p-1 mb-2">
                                                {{ city.code|lower|trans }}
                                            </span>
                                            <span class="btn btn-secondary text-uppercase custom-padding-1 d-inline-block">{{ city.shops|length }} {{ 'shops'|trans }}</span>
                                        </span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">

        $('.phone_agent').on('click', function (e) {
            let $tel = $(this).data('tel');
            $(this).children('.ws-nowrap').html($tel);
            e.preventDefault();
        });

        $(document).on('click', '.city-item', function (e) {
            let $dropdownDiv = $('.city-search-dropdown');
            let $name = $(this).data('code');
            $('#input-city').val($name);
            let $nameToShow = $(this).html();
            $('#input-obj').val($nameToShow);
            $('#search-city').val($nameToShow);

            $dropdownDiv.hide();
        });
    </script>
{% endblock %}
